## MAKİNE ÖĞRENMESİNE GİRİŞ
### DOĞRUSAL OLMAYAN REGRESYON MODELİ- KNN (K-NEAREST NEIGHBORS MODEL)

In [258]:
import warnings 
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.preprocessing import scale
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

In [259]:
df=pd.read_csv("/Users/bernaersari/Downloads/Hitters.csv")

In [260]:
df # beyzbol oyuncularının çeşitli özeLliklerine göre ücretini belirleyen bir model kurmak istiyoruz.

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,497,127,7,65,48,37,5,2703,806,32,379,311,138,N,E,325,9,3,700.0,N
318,492,136,5,76,50,94,12,5511,1511,39,897,451,875,A,E,313,381,20,875.0,A
319,475,126,3,61,43,52,6,1700,433,7,217,93,146,A,W,37,113,7,385.0,A
320,573,144,9,85,60,78,8,3198,857,97,470,420,332,A,E,1314,131,12,960.0,A
321,631,170,9,77,44,31,11,4908,1457,30,775,357,249,A,W,408,4,3,1000.0,A

In [261]:
df=df.dropna() #boş değerleri silelim.

In [262]:
df.select_dtypes(include='object').columns

Index(['League', 'Division', 'NewLeague'], dtype='object')

In [263]:
dms=pd.get_dummies(df[['League', 'Division', 'NewLeague']]) # one-hot encoding ile kategorik değişkenleri 0-1 değişkenlere dönüştürelim.

In [264]:
y=df['Salary'] #bulmak istediğimiz hedef değişkenimiz olan 'Salary' bağımlı değişkenimizi y olarak tanımlayalım.

In [265]:
X_=df.drop(['Salary','League', 'Division', 'NewLeague'], axis=1) 
#dataframeden encoding yapılan değişkenleri ve bağımlı değişkeni silip dataframedeki verileri X_ olarak tanımlayalım.

In [266]:
X_ #bağımsız değişkenlere göz atalım.

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,632,43,10
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,880,82,14
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,200,11,3
4,321,87,10,39,42,30,2,396,101,12,48,46,33,805,40,4
5,594,169,4,74,51,35,11,4408,1133,19,501,336,194,282,421,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,497,127,7,65,48,37,5,2703,806,32,379,311,138,325,9,3
318,492,136,5,76,50,94,12,5511,1511,39,897,451,875,313,381,20
319,475,126,3,61,43,52,6,1700,433,7,217,93,146,37,113,7
320,573,144,9,85,60,78,8,3198,857,97,470,420,332,1314,131,12
321,631,170,9,77,44,31,11,4908,1457,30,775,357,249,408,4,3

In [267]:
X=pd.concat([X_,dms[['League_N', 'Division_W','NewLeague_N']]],axis=1) 
#son olarak tüm bağımsız değişkenleri bir araya getirelim. 
#Dummy değişkenler aynı bilgileri içerdiğinden her birinden bir tane değişkeni bağımsız değişken grubuna ekliyoruz.

In [333]:
X_train,X_test,y_train,y_test=train_test_split(X,
                                               y,
                                               test_size=0.25,
                                               random_state=42) # veri setinin yüzde 25 test seti olarak ayrıldı.

__MODEL & TAHMİN__

In [270]:
knn_model=KNeighborsRegressor().fit(X_train,y_train) #en yakın komşu modeli kuralım.

In [279]:
y_pred=knn_model.predict(X_test) #modelimiz tahminlerini yapar.

In [281]:
test_hatasi=np.sqrt(mean_squared_error(y_test,y_pred)) #test_hatası değişkenine hata değerini atayalım.

In [282]:
test_hatasi

426.6570764525201

In [ ]:
#KNN modelinin hiperparametrelerine bakalım.

In [291]:
KNeighborsRegressor? # ? koyulduğunda model fonksiyonu ile igili açıklamalar gelir.

In [294]:
knn_model.get_params() # knn modelinin parametreleri

{'algorithm': 'auto',
 'leaf_size': 30,
 'metric': 'minkowski',
 'metric_params': None,
 'n_jobs': None,
 'n_neighbors': 5,
 'p': 2,
 'weights': 'uniform'}

__MODEL_TUNING__

In [373]:
knn_params={"n_neighbors":np.arange(1,30,1),
            'p':[1,3],
           "leaf_size":[10,20,30]}  #hiperparametre seçimleri için birkaç veri seti verelim.

In [375]:
knn_model_tuned=GridSearchCV(knn_model,knn_params,cv=10).fit(X_train,y_train) #gridsearch ile verdiğimiz hiperparametre veri setlerine göre modeli eğitelim.

In [376]:
knn_model_tuned.best_params_ #gridsearchcv ile seçilen rn iyi hiperparametrelere bakalım.

{'leaf_size': 10, 'n_neighbors': 4, 'p': 1}

In [377]:
knn_model_final=KNeighborsRegressor(n_neighbors=knn_model_tuned.best_params_["n_neighbors"],
                                   p=knn_model_tuned.best_params_["p"],
                                   leaf_size=knn_model_tuned.best_params_["leaf_size"]
                                   ).fit(X_train,y_train)
#Seçilen en iyi hiperparametreler ile modelimizi eğitelim(fit edelim)

In [378]:
y_pred=knn_model_final.predict(X_test) #modelimiz tahminlesin.

In [380]:
np.sqrt(mean_squared_error(y_test,y_pred)) #modelimizin hatasına bakalım.

391.3223963252715